<html>
   <body>
       <h1>Chain Information:</h1>
       <p>
            <table border = 1>
                {% for key, value in chain_info.items() %}
                <tr>
                    <th> {{ key }} </th>
                    <td> {{ value }}</td>
                </tr>
                {% endfor %}
            </table>
       </p>
       <p>Length of blockchain: {{length}}</p>

       <p>
        <a href="/">
            <input type="button" value="Homepage">
        </a>
       </p>
   </body>
</html>