<html>
   <body>
        <h1>CPSC 452 - Blockchain Project</h1>
        <p> Click here to view the block chain:
            <a href="/chain">
                <input type="button" value="chain">
            </a>
        </p>
        <p> Click here to mine a new block:
            <a href="/mine">
                <input type="button" value="mine">
            </a>
        </p>

        <p> Click here to view the most recent block:
            <a href="/recent">
                <input type="button" value="recent">
            </a>
        </p>
        
   </body>
</html>